{% block _registration_auteurRealisateurs_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        <div class="form-group typePersonne mt-2">
            {{ form_row(form.typePersonne,{'label':false,'attr':{'class':'typePersonne'}})}}
         </div>
         <div class="row">
             <div class="col-10">
                <div class="row">
                    <div class="col-4">
                        Prénom
                        {{ form_row(form.prenom,{'label':false,'attr':{'class':'form-control-sm w-100 prenom' ,'placeholder':'Prénom', 'onchange' : 'recupererauteur(this)'}}) }}
                    </div>
                     <div class="col-4">
                        <label> Nom  de l'état civil</label>
                         {{ form_row(form.nom,{'label':false,'attr':{'class':'form-control-sm w-100 nom','placeholder':'Nom', 'onchange' : 'recupererauteur(this)'}}) }}
                     </div>
                     <div class="col-4">
                        <label> Pseudonyme </label>
                        {{ form_row(form.pseudonyme,{'label':false,'attr':{'class':'form-control-sm w-100','placeholder':'Pseudonyme'}}) }}
                     </div>
                 </div>
                 <div class="row my-3">
                     <div class="col-6">
                         <label> Adresse</label>
                         {{ form_row(form.adresse,{'label':false,'attr':{'class':'form-control-sm w-100','placeholder':'Numero et nom de la rue'}}) }}
                     </div>
                     <div class="col-2 ">
                         {{ form_row(form.codePostal,{'label':false,'attr':{'class':'form-control-sm w-100 decalageCodeVille','placeholder':'Code postal'}}) }}
                     </div>
                     <div class="col-4">
                         {{ form_row(form.ville,{'label':false,'attr':{'class':'form-control-sm w-100 decalageCodeVille','placeholder':'Ville'}}) }}
                     </div>
                 </div>
                 <div class="row my-3">
                     <div class="col-4">
                         <label>Téléphone</label>
                         {{ form_row(form.telephoneMobile,{'label':false,'attr':{'class':'form-control-sm w-100','placeholder':'Votre numero de téléphone'}}) }}
                         {{ form_errors(form.telephoneMobile)}}
                     </div>
                     <div class="col-8">
                         <label>Courriel</label>
                         {{ form_row(form.courriel,{'label':false,'attr':{'class':'form-control-sm w-100','placeholder':'Votre adresse mail'}}) }}
                         {{ form_errors(form.courriel)}}
                     </div>
                 </div>
                 {% spaceless %}
                 <div class="row my-3" id="blockPourcentage_{{id}}">
                     <div class="col-auto">
                        <p id="para_{{id}}"> </p>
                     </div>
                     <div class="col">
                        <div class="row">
                            {{ form_row(form.pourcentageAuteurRealisateur,{'label':false,'attr':{'class':'form-control-sm','style':'width:3rem'}}) }} <span>%</span>
                        </div>
                     </div>
                  </div>
                {% endspaceless %}
            </div>
             <div class="col-2">
                 <button type="button" class="remove-auteur btn btn-danger" data-action="delete" data-target="#blockPourcentage_{{id}}"> Supprimer</button>
             </div>
         </div>
    </div>
{% endblock %}
