{% extends 'base.html.twig' %}

{% block title %}Inscription à la commission du {{ fondsAide.nom }} {% endblock %}
{% form_theme allFieldsForm  with
   [
     'all_fields_form/_auteurRealisateursForm.html.twig', 
     'all_fields_form/_documentsAudioVisuelsForm.html.twig',
     'all_fields_form/_projetPresenteForm.html.twig',
     'all_fields_form/_producteurForm.html.twig'
   ] 
%}

{% block body %}
   <div class="container">
      <h4 class="text-center mt-3"> FONDS D’AIDE A LA CREATION ET A LA PRODUCTION </h4>
      <h4 class="text-center mt-3"> CINEMA, AUDIOVISUEL ET MULTIMEDIA </h4>
      <h5 class="text-center">Région Normandie/CNC</h5>
         <h5  class="text-center"> en association avec Normandie Images</h4>
      <h5 class="text-center my-3 bg-info text-white">{{ fondsAide.nom}}</h4>
      {{ form_start(allFieldsForm) }}
   {%  if fondsAide.id != 9 %}
     <fieldset class="border p-3">
        <legend class="w-auto">Projet </legend>
        <div class="form-group">
           <div class="row">
              <div class="col-6">
                 <label for="titre">Titre du projet</label>
                 {{ form_widget(allFieldsForm.titre,{'label':false,'attr':{'class':'form-control-sm w-100'}}) }}
                 {{ form_errors(allFieldsForm.titre)}}
               </div>
              {% if fondsAide.id == 3 %}
                  <div class="col-3">
                     <label for="formatDeTournage">Format de tournage</label>
                     {{ form_row(allFieldsForm.formatTournage,{'label':false,'attr':{'class':'form-control-sm w-100'}}) }}
                  </div>
                  <div class="col-3">
                     <label for="formatDefinitif">Format définitif</label>
                     {{ form_row(allFieldsForm.formatDefinitif,{'label':false,'attr':{'class':'form-control-sm w-100'}}) }}
                  </div>
              {% endif %}
           </div>
         </div>
         {% if fondsAide.id != 2  and fondsAide.id  != 3 and fondsAide.id != 8 and fondsAide.id != 6 %}
            {% if fondsAide.id == 4  or fondsAide.id == 7 %}
               <div class="row genreProjetProductionCourtMFA">
                  <div class="col-6 custom-control custom-radio">
                        {% for genre in allFieldsForm.genre %}
                        {% if loop.index > 1 %}
                             {{ form_widget(genre) }}{{form_label(genre,null,{'label_attr':{'class':'genre'}})}}
                        {% endif %}
                    {% endfor %}
                  </div>
               </div>
            {% else %}
               <div class="row genreProjet">
                  
                  <div class="col-6 custom-control custom-radio">
                     {% for genre in allFieldsForm.genre %}
                        {% if loop.index > 1 %}
                             {{ form_widget(genre) }}{{form_label(genre,null,{'label_attr':{'class':'genre'}})}}
                        {% endif %}
                    {% endfor %}
                  </div>
                  <div class="col-6 genrePrecisionAutre" style="display:none;">
                        <label for="precision">Précisez</label>
                     {{ form_row(allFieldsForm.genrePrecisionAutre,{'label':false,'attr':{'class':'form-control-sm w-75'}}) }} 
                  </div>
               </div>
            {% endif %}
         {% endif %}
         <div class="row my-2">
            {% if fondsAide.id == 2 or fondsAide.id == 7  or fondsAide.id == 6 %}
                <div class="col-6 typeFilm">
                   {% for typeFilm in allFieldsForm.typeFilm %}
                        {% if loop.index > 1 %}
                             {{ form_widget(typeFilm) }}{{form_label(typeFilm,null)}}
                        {% endif %}
                    {% endfor %}
                </div>
            {% elseif fondsAide.id == 3 %}
               <div class="col-6">
                  <label for="typeOuvre">Type d'œuvre</label>
                  {{ form_row(allFieldsForm.typeOeuvre,{'label':false,'attr':{'class':'form-control-sm w-100','placeholder':'film expérimental, vidéoart, installation, œuvre numérique…'}})}}
               </div>
            {% endif %}
            
         <div class="col-6 serie">
            <div class="row ml-2">
               <div class="col-4">
                  <div class="row">
                     <label for="nombreEpisode" class="nombreEpisode">Nombre d'épisode</label>
                     {{ form_widget(allFieldsForm.nombreEpisode,{'label':false,'attr':{'class':'form-control-sm w-50'}}) }}
                  </div>
               </div>
               <div class="col-4">
                   <div class="row ml-3">
                      <label for="duree" class="dureeEpisode">Durée par épisode</label>
                      {{ form_widget(allFieldsForm.dureeEpisode,{'label':false,'attr':{'class':'form-control-sm w-50'}}) }}<span>minutes</span>
                   </div>
               </div>
            </div>
         </div>
         <div class="col-4 unitaire ml-3">
            <label for="dureeEnvisage">Durée envisagée </label>
            <div class="row">
               {{ form_widget(allFieldsForm.duree,{'label':false,'attr':{'class':'form-control-sm w-50'}}) }}<span>minutes</span>  
            </div>
         </div>
        </div>
         <div class="form-group">
              <label for="synopsis">Synopsis (500 caractères maximum)</label>
              {{ form_row(allFieldsForm.synopsis,{'label':false,'attr':{'class':'form-control','rows':'3'}}) }}
              {{ form_errors(allFieldsForm.synopsis)}}
        </div>
        {% if fondsAide.id == 4 %}
            <div class="row my-3">
               {{form_row(allFieldsForm.premierFilm,{'label':false})}}
            <a href="#" class="info">
                <img src="/../img/aide.png" alt="imageHelp" class="aide"  data-toggle="popover" title="Information" data-popover-position="bottom"  data-content="Premier film de l'auteur realisateur, produit par une société de production"/>
            </a>
            </div>
        {% endif %}
      <div class="row my-3">
         <div class="col-6">
            <label for="adaptationOeuvre">Adaption d'une œuvre préexistante<br></label>
            <div class="row ml-3">
               {% for adaptationOeuvre in allFieldsForm.adaptationOeuvre %}
                   {% if loop.index > 1 %}
                        {{ form_widget(adaptationOeuvre) }} {{form_label(adaptationOeuvre,null)}}
                   {% endif %}
               {% endfor %}
            </div>
         </div>
         <div class="col-6 adaptationOeuvrePrecision">
            <label for="adptationOeuvreToa">Titre de l'œuvre et auteur </label>
            {{ form_row(allFieldsForm.adaptationOeuvreToa,{'label':false,'attr':{'class':'form-control-sm w-100'}}) }}
            <label for="adapdationOuevreDacp">Droits d'adaption cedés par</label>
            {{ form_row(allFieldsForm.adaptationOeuvreDacp,{'label':false,'attr':{'class':'form-control-sm w-100'}}) }}
            <label for="adapdationOuevreDfc">Date de fin de session</label>
            {{ form_row(allFieldsForm.adaptationOeuvreDfc,{'label':false,'attr':{'class':'form-control-sm w-100'}}) }}
         </div>
      </div>
      {% if fondsAide.id == 1 or fondsAide.id == 2 %}
          <div class="my-3">
             <label for="deposant">Projet déposé par</label>
             <div class="row ml-2">
                {% for deposant in allFieldsForm.deposant %}
                     {% if loop.index > 1 %}
                          {{ form_widget(deposant) }}{{form_label(deposant,null)}}
                     {% endif %}
                {% endfor %}
             </div>
          </div>
      {% endif %}
      </fieldset>
      {% endif %}
      <fieldset class="border p-3 production-fildset">
         <hr class="production">
         <legend class="w-auto h6"> Production </legend>
          <div id="producteurs" data-prototype="{{ form_widget(allFieldsForm.producteurs.vars.prototype)|e('html_attr') }}">
            {% for producteur in allFieldsForm.producteurs%}
                <div class="form-group producteur">
                    <div class="row">
                        <div class="col-6">
                           <label for="nom">Nom de la structure</label> 
                            {{ form_row(producteur.nom,{'label':false,'attr':{'class':'form-control-sm w-100'}}) }}
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-6">
                            <label for="nature">Nature juridique</label>
                            {{ form_row(producteur.nature,{'label':false,'attr':{'class':'form-control-sm w-100'}}) }}
                        </div>
                        <div class="col-6">
                            <label for="siret">SIRET</label>
                            {{ form_row(producteur.siret,{'label':false,'attr':{'class':'form-control-sm w-100'}}) }}
                            {{ form_errors(producteur.siret)}}
                           </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-6">
                            <label for="prenomGerant">Gérant/Président</label>
                            {{ form_row(producteur.prenomGerant,{'label':false,'attr':{'class':'form-control-sm w-100','placeholder':'Prénom'}}) }}
                        </div>
                        <div class="col-6">
                            {{ form_row(producteur.nomGerant,{'label':false,'attr':{'class':'form-control-sm w-100 decalageLabel','placeholder':'Nom'}}) }}
                        </div>
                    </div>
                    <fieldset class="border p-2 ">
                        <legend class="w-auto h6">Producteur</legend>
                        <div class="row my-2">
                            <div class="col-6">
                                {{ form_row(producteur.prenomProducteur,{'label':false,'attr':{'class':'form-control-sm w-100','placeholder':'Prénom'}}) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(producteur.nomProducteur,{'label':false,'attr':{'class':'form-control-sm w-100','placeholder':'Nom'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label for="telephoneFixe">Téléphone fixe</label>
                                {{ form_row(producteur.telephoneFixeProducteur,{'label':false,'attr':{'class':'form-control-sm w-100'}}) }}
                            </div>
                            <div class="col-4">
                                <label for="telephoneMobile">Téléphone Mobile</label>
                                {{ form_row(producteur.telephoneMobileProducteur,{'label':false,'attr':{'class':'form-control-sm w-100'}}) }}
                            </div>
                            <div class="col-4">
                                <label for="corriel">Courriel</label>
                                {{ form_row(producteur.courrielProducteur,{'label':false,'attr':{'class':'form-control-sm w-100'}}) }}
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="border p-2 mt-5">
                        <legend class="w-auto h6" >Si autre personne chargée du dossier </legend>
                        <div class="row">
                            <div class="col-6">
                                {{ form_row(producteur.prenomPersonneChargee,{'label':false,'attr':{'class':'form-control-sm w-100','placeholder':'Prénom'}}) }}
                            </div>
                            <div class="col-6">
                                {{ form_row(producteur.nomPersonneChargee,{'label':false,'attr':{'class':'form-control-sm w-100','placeholder':'Nom'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label for="telephoneFixe">Téléphone fixe</label>
                                {{ form_row(producteur.telephoneFixePersonneChargee,{'label':false,'attr':{'class':'form-control-sm w-100'}}) }}
                            </div>
                            <div class="col-4">
                                <label for="telephoneMobile">Téléphone Mobile</label>
                                {{ form_row(producteur.telephoneMobilePersonneChargee,{'label':false,'attr':{'class':'form-control-sm w-100'}}) }}
                            </div>
                            <div class="col-4">
                                <label for="corriel">Courriel</label>
                                {{ form_row(producteur.courrielPersonneChargee,{'label':false,'attr':{'class':'form-control-sm w-100'}}) }}
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="col-6">
                            <label for="adresse">Adresse siège social</label>
                            {{ form_row(producteur.adresse,{'label':false,'attr':{'class':'form-control-sm w-100','placeholder':'Numero et nom de la rue'}}) }}
                        </div>
                        <div class="col-3">
                            {{ form_row(producteur.codePostal,{'label':false,'attr':{'class':'form-control-sm w-100','placeholder':'Code postal'}}) }}
                        </div>
                        <div class="col-3">
                            {{ form_row(producteur.ville,{'label':false,'attr':{'class':'form-control-sm w-100','placeholder':'Ville'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="adresseBureau">Adresse bureau (si differente du siège social)</label>
                            {{ form_row(producteur.adresseBureau,{'label':false,'attr':{'class':'form-control-sm w-100','placeholder':'Numero et nom de la rue'}}) }}
                        </div>
                        <div class="col-3">
                            {{ form_row(producteur.codePostaleBureau,{'label':false,'attr':{'class':'form-control-sm w-100','placeholder':'Code postal'}}) }}
                        </div>
                        <div class="col-3">
                            {{ form_row(producteur.villeBureau,{'label':false,'attr':{'class':'form-control-sm w-100','placeholder':'Ville'}}) }}
                        </div>
                    </div>
                </div>
            {% endfor %}
          </div>
      </fieldset>
      {% if fondsAide.id == 9 %}
        <fieldset class="border p-3">
           <legend class="w-auto h6 ">Equipe (chiffres de l’année précédente) </legend>
           <fieldset class="border p-3">
              <legend class="w-auto h6">Salariés permanents </legend>
              <div class="row">
                  <div class="col-4">
                      <label>Nombre</label>
                      {{form_row(allFieldsForm.nombreSalariePermanent,{'label':false,'attr':{'class':'form-control-sm w-50'}})}}
                  </div>
                  <div class="col-6">
                      <label> Equivalent temps plein </label>
                      {{ form_row(allFieldsForm.salariePermenentEqtemps,{'label':false,'attr':{'class':'form-control-sm w-65'}})}}
                  </div>
                  <div class="col-2">

                  </div>
              </div>
           </fieldset>
           <fieldset class="border p-3">
               <legend class="w-auto h6">Salariés intermittents </legend>
               <div class="row">
                   <div class="col-4">
                       <label>Nombre</label>
                       {{form_row(allFieldsForm.nombreSalarieIntermittent,{'label':false,'attr':{'class':'form-control-sm w-50'}})}}
                   </div>
                   <div class="col-6">
                       <label> Total des heures </label>
                       <div class="row">  
                          {{ form_row(allFieldsForm.salarieIntermittentth,{'label':false,'attr':{'class':'form-control-sm w-65'}})}}<span> Heures</span>
                        </div>
                   </div>
                   <div class="col-2">

                   </div>
               </div>
            </fieldset>
        </fieldset>
        <hr class="auteurRealisateurs">
         <fieldset class="border p-3">
            <legend class="w-auto h6">Projets présentés dans le portefeuille de développement (minimum 3) </legend>
               <div id="projetPresentes" class="mt-3 prototypeProjetPresente" data-prototype="{{ form_widget(allFieldsForm.projetPresentes.vars.prototype)|e('html_attr') }}">
                   {% for projetPresente in allFieldsForm.projetPresentes %}
                       <div class="form-group projetPresentes">
                           <div class="row">
                                 <div class="col">
                                     <div class="row mt-2">
                                         <div class="col">
                                             <label>Titre</label>
                                             {{form_row(projetPresente.titre,{'label':false,'attr':{'class':'form-control-sm w-100'}})}}
                                         </div>
                                         <div class="col">
                                             <label> Auteur réalisateur </label>
                                             {{ form_row(projetPresente.auteurrealisateur,{'label':false,'attr':{'class':'form-control-sm w-100','placehoder':'Nom et Prénom'}})}}
                                         </div>
                                     </div>
                                     <div class="row mt-2">
                                          <div class="col-6">
                                              {% for genre in projetPresente.genre %}
                                                {% if loop.index > 1 %}
                                                      {{ form_widget(genre,{'attr':{'onclick' : 'controlPreciser(this)'}}) }}{{form_label(genre,null,{'label_attr':{'class':'genre'}})}}
                                                {% endif %}
                                              {% endfor %}
                                          </div>
                                          <div class="col-6" id="{{projetPresente.vars.id}}_precision"  >
                                              <label>Précisez</label>
                                              {{ form_row(projetPresente.precisionAutre,{'label':false,'attr':{'class':'form-control-sm w-100'}})}} 
                                          </div> 
                                      </div>
                                     <div class="row mt-2">
                                         <div class="col">
                                              <label>Durée envisagée</label>
                                              {{ form_row(projetPresente.dureeEnvisagee,{'label':false,'attr':{'class':'form-control-sm w-100'}})}}
                                         </div>
                                         <div class="col">
                                             <label for="lien">Coût prévisionnel de développement du projet</label>
                                             <div class="row">
                                                 {{ form_row(projetPresente.coutPrevisionnel,{'label':false,'attr':{'class':'form-control-sm ml-3 w-85'}})}} <span>€</span>
                                             </div>
                                             {{ form_errors(projetPresente.coutPrevisionnel) }}
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-2 mt-4">
                                     <button type="button" class="remove-projetPresentes btn btn-danger" data-action="delete-projetPresentes" data-target="#projetPresentes_block_{{projetPresente.vars.id}}"> Supprimer</button>
                                  </div>
                             </div>
                           <hr>
                       </div>
                   {% endfor %}
               </div>
         </fieldset>
         <div class="form-group">
            <div class="row">
               <div class="col mt-4">
                  <label for="montanttotoalProgrammeDeveloppement">Montant total du programme de développement de la structure (projets en développement + développement de la société) </label>
                  <div class="row">
                     {{ form_row(allFieldsForm.mtTotalProgrammeDeveloppement,{'label':false,'attr':{'class':'form-control-sm ml-3 w-85'}})}} <span>€</span>
                  </div>
               </div>
            </div>
         </div>
    {% else %}
      {# endif voir la partie montant sollicité auprès du fonds aide #}
     
     <hr class="auteurRealisateurs">
     <fieldset class="border p-3 auteurRealisateurs">
        <legend class="w-auto h6">Auteur.s/réalisateur.s </legend>
        <div id="auteurRealisateurs"  class="prototypeAuteurRealisateur" data-prototype="{{ form_widget(allFieldsForm.auteurRealisateurs.vars.prototype)|e('html_attr') }}">
            {%  for auteur in allFieldsForm.auteurRealisateurs %}
                <div class="form-group nombreAuteurRealisateurBoucle">
                    <div class="form-group typePersonne mt-2">
                        {% for typePersonne in auteur.typePersonne %}
                           {% if loop.index > 1 %}
                                {{ form_widget(typePersonne) }}{{form_label(typePersonne,null)}}
                           {% endif %}
                        {% endfor %}
                     </div>
                    <div class="row">
                        <div class="col-10">
                            <div class="row">
                                <div class="col-4">
                                    <label> Prénom </label>
                                    {{ form_row(auteur.prenom,{'label':false,'attr':{'class':'form-control-sm w-100 prenom' ,'placeholder':'Prénom', 'onchange' : 'recupererauteur(this)'}}) }}
                                </div>
                                <div class="col-4">
                                    <label> Nom  de l'état civil</label>
                                    {{ form_row(auteur.nom,{'label':false,'attr':{'class':'form-control-sm w-100 nom','placeholder':'Nom', 'onchange' : 'recupererauteur(this)'}}) }}
                                </div>
                                <div class="col-4">
                                    <label> Pseudonyme </label>
                                    {{ form_row(auteur.pseudonyme,{'label':false,'attr':{'class':'form-control-sm w-100','placeholder':'Pseudonyme'}}) }}
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-6">
                                    <label> Adresse</label>
                                    {{ form_row(auteur.adresse,{'label':false,'attr':{'class':'form-control-sm w-100','placeholder':'Numero et nom de la rue'}}) }}
                                </div>
                                <div class="col-2 ">
                                    {{ form_row(auteur.codePostal,{'label':false,'attr':{'class':'form-control-sm w-100 decalageCodeVille','placeholder':'Code postal'}}) }}
                                </div>
                                <div class="col-4">
                                    {{ form_row(auteur.ville,{'label':false,'attr':{'class':'form-control-sm w-100 decalageCodeVille','placeholder':'Ville'}}) }}
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-4">
                                    <label>Téléphone</label>
                                    {{ form_row(auteur.telephoneMobile,{'label':false,'attr':{'class':'form-control-sm w-100','placeholder':'Votre numero de téléphone'}}) }}
                                </div>
                                <div class="col-8">
                                    <label>Courriel</label>
                                    {{ form_row(auteur.courriel,{'label':false,'attr':{'class':'form-control-sm w-100','placeholder':'Votre adresse mail'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <button type="button" class="remove-auteur btn btn-danger" data-action="delete" data-target="#blockPourcentage_registration_auteurRealisateurs_0"> Supprimer</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <input type="hidden" id="widget-counter" value="0">

      </fieldset>
      <hr>
      <fieldset class="border p-3">
         <legend class="w-auto h6">Document.s audiovisuel.s joint.s</legend>
         <small class="form-text text-muted">Vous pouvez joindre un ou deux documents audiovisuels ou films précédents de l'auteur/réalisateur (images de repérages, tests, teasers, extraits, photos, musiques...)</small>
         {% block _registration_auteurRealisateurs_widget %}
            <div id="documentAudioVisuels" class="mt-3" data-prototype="{{ form_widget(allFieldsForm.documentAudioVisuels.vars.prototype)|e('html_attr') }}">
                {% for document in allFieldsForm.documentAudioVisuels %}
                    <div class="form-group documentAudioVisuel">
                        <div class="row">
                            <div class="col">
                                <div class="row mt-2">
                                    <div class="col">
                                        <label>Titre</label>
                                        {{form_row(document.titre,{'label':false,'attr':{'class':'form-control-sm w-100'}})}}
                                    </div>
                                    <div class="col">
                                        <label> Réalisateur </label>
                                        {{ form_row(document.realisateur,{'label':false,'attr':{'class':'form-control-sm w-100'}})}}
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <label>Genre</label>
                                        {{ form_row(document.genre,{'label':false,'attr':{'class':'form-control-sm w-100'}})}}
                                    </div>
                                    <div class="col">
                                        <label>Année</label>
                                        {{ form_row(document.annee,{'label':false,'attr':{'class':'form-control-sm w-100'}})}}
                                    </div>
                                    <div class="col">
                                        <label>Durée</label>
                                        {{ form_row(document.duree,{'label':false,'attr':{'class':'form-control-sm w-100'}})}}
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <label for="lien">Lien</label>
                                        {{ form_row(document.lien,{'label':false,'attr':{'class':'form-control-sm w-100'}})}}
                                    </div>
                                    <div class="col">
                                        <label for="mot-passe">Mot de passe </label>
                                        {{ form_row(document.motDePasse,{'label':false,'attr':{'class':'form-control-sm w-100'}})}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 mt-4">
                                <button type="button" class="remove-document btn btn-danger" data-action="delete-documentAudioVisuels" data-target="#documentAudioVisuels"> Supprimer</button>
                            </div>
                        </div>
                        <hr>
                    </div>
                {% endfor %}
            </div>
         {% endblock %}
      </fieldset>
      {% if fondsAide.id == 1 %}
      <hr>
         <div class="form-group my-2">
            <label for="typeAideLm">Type d'aide demandée</label>
            <div class="row ml-2">
                  {% for typeAideLm in allFieldsForm.typeAideLm %}
                     {% if loop.index > 1 %}
                          {{ form_widget(typeAideLm) }}{{form_label(typeAideLm,null)}}
                     {% endif %}
                 {% endfor %}
            </div>
         </div>
      {% endif %}
      {% if fondsAide.id == 2 %}
      <hr>
         <div class="form-group  my-2">
            <label for="typeAideDoc">Type d'aide demandée</label>
            <div class="row ml-2">
               {% for typeAideDoc in allFieldsForm.typeAideDoc %}
                  {% if loop.index > 1 %}
                       {{ form_widget(typeAideDoc) }}{{form_label(typeAideDoc,null)}}
                  {% endif %}
              {% endfor %}
            </div>
         </div>
      {% endif %}
      {% if fondsAide.id == 1 or fondsAide.id == 2 %}
         <div class="form-group my-2 montant-budget">
            <label for="montant-budget"></label>
            {{ form_row(allFieldsForm.mtBudget,{'label':false,'attr':{'class':'form-control-sm '}})}}
         </div>
      {% endif %}
      {% if fondsAide.id == 1  %}
         <fieldset class="border p-2">
            <legend class="w-auto h6 my-2">Lien.s avec la Région Normandie</legend>
            <small class="form-text text-muted my-2">Veuillez cocher au moins un critère correspondant à votre projet (justificatif à joindre)</small>
            {% for lien in allFieldsForm.liensEligibilite %}
               <div class="liensEligibilite">
                  {{form_widget(lien)}} {{form_label(lien,null,{'label_attr':{'class':'labelLiens'}})}}
               </div>
            {% endfor %}
         </fieldset>
      {% elseif fondsAide.id == 2 or fondsAide.id == 3 %}
        <fieldset class="border p-2">
            <legend class="w-auto h6 my-2">Lien.s avec la Région Normandie</legend>
            <small class="form-text text-muted my-2">Veuillez cocher au moins un critère repondant à votre projet</small>
            {% for lien in allFieldsForm.liensEligibilite %}
               <div class="liensEligibilite">
                  {{ form_widget(lien,{'attr':{'class':'liensEligibiliteReste'}}) }} {{form_label(lien,null,{'label_attr':{'class':'labelLiens'}})}}
               </div>
            {% endfor %}
        </fieldset>
      {% endif %}
      {% if fondsAide.id != 1 and fondsAide.id != 2 %}
         <hr>
         <fieldset class="border p-3">
            <legend class="w-auto h6"> Calendrier envisagé</legend>
               <div class="form-group">
                  <div class="row">
                        <div class="col">
                           <label for="datePreparation">Dates de préparation</label>
                           {{ form_row(allFieldsForm.datePreparation,{'label':false,'attr':{'class':'form-control-sm w-65'}})}}
                        </div>
                   <div class="col">
                     <label for="dateTournage">Dates de tournage</label>
                     {{ form_row(allFieldsForm.dateTournage,{'label':false,'attr':{'class':'form-control-sm w-65'}})}}
                  </div>
                  <div class="col">
                     <label for="dateDiffusion">Dates de diffusion</label>
                     {{ form_row(allFieldsForm.dateDiffusion,{'label':false,'attr':{'class':'form-control-sm w-65'}})}}
                  </div>
               </div>
            </div>
        </fieldset>
        <div class="row my-4">
            <div class="col">
               <label for="nombreJoursTournage">Nombre de jours de tournage en Normandie</label>
               {{ form_row(allFieldsForm.nombreJoursTournage,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
            </div>
            <div class="col">
               <label for="nombreJoursTotal">Nombre de jours de tournage total</label>
               {{ form_row(allFieldsForm.nombreJoursTotal,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
            </div>
         </div>
      <div class="form-group my-2">
         <div class="row">
            <div class="col">
               <label for="listeDelieuxTournage">Liste des lieux de tournage en Normandie</label>
               {{ form_row(allFieldsForm.lieuxTournage,{'label':false,'attr':{'class':'form-control','rows':'3'}})}}
            </div>
         </div>
        </div>
        {% if fondsAide.id != 6 and fondsAide.id != 8 %}
        <div class="row">
           <div class="col-12">
              <label for="castingEnvisage">Casting envisagé</label>
              {{ form_row(allFieldsForm.castingEnvisage,{'label':false,'attr':{'class':'form-control-sm w-100'}})}}
              {{ form_errors(allFieldsForm.castingEnvisage) }}
           </div>
        </div>
            {% endif %}
          {% endif %}
          {% if fondsAide.id != 1 and fondsAide.id != 2 %}
            <hr>
            <fieldset class="border p-3"> 
                <legend class="w-auto h6">Devis prévisionnel HT résumé faisant apparaître la part des dépenses en région</legend>
                <label for="telechargementFichier"> Si besoin, vous pouvez télécharger le devis détaillé type ici</label>
                <div class="row">
                   <div class="col droitArtistique">
                      <label class="mt-4">1. Droits artistiques</label> 
                   </div>
                   <div class="col ht">
                     <div class="form-group">
                       <label for="totalHt">Total dépenses à l'étranger</label>
                       {{ form_row(allFieldsForm.droitArtistiqueTotalHt,{'label':false,'attr':{'class':'form-control-sm w-75 '}})}}
                     </div>
                  </div>
                  <div class="col depenseFrance">
                     <div class="form-group">
                       <label for="depenseFrance"> Total dépenses <br>en France </label>
                       {{ form_row(allFieldsForm.droitArtistiquesFrance,{'label':false,'attr':{'class':'form-control-sm w-75 '}})}}
                     </div>
                  </div>
                  <div class="col htNormandie">
                     <div class="form-group">
                        <label for="totalHtNormandie">Dont en Normandie</label>
                        {{ form_row(allFieldsForm.droitArtistiqueTotalHtNormandie,{'label':false,'attr':{'class':'form-control-sm mt-4 w-75'}})}}
                     </div>
                  </div>
                  <div class="col coutDefinitif">
                        <div class="form-group">
                           <label for="totalHtNormandie">Coût définitif total</label>
                           {{ form_row(allFieldsForm.droitArtistiqueCoutDefinitif,{'label':false,'attr':{'class':'form-control-sm mt-4 w-75'}})}}
                        </div>
                     </div>
               </div>
               <div class="row">
                   <div class="col">
                      <label>2. Personnel</label> 
                   </div>
                   <div class="col ht">
                     <div class="form-group">
                       {{ form_row(allFieldsForm.personnelTotalHt,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                     </div>
                  </div>
                  <div class="col depenseFrance">
                     <div class="form-group">
                       {{ form_row(allFieldsForm.personnelFrance,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                     </div>
                  </div>
                  <div class="col htNormandie">
                     <div class="form-group">
                        {{ form_row(allFieldsForm.personnelTotalHtNormandie,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                     </div>
                  </div>
                  <div class="col coutDefinitif">
                        <div class="form-group">
                           {{ form_row(allFieldsForm.personnelCoutDefinitif,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                        </div>
                     </div>
               </div>
               <div class="row">
                   <div class="col">
                      <label>3. Interprétation </label> 
                   </div>
                   <div class="col ht">
                     <div class="form-group">
                       {{ form_row(allFieldsForm.interpretationTotalHt,{'label':false,'attr':{'class':'form-control-sm w-75 '}})}}
                     </div>
                  </div>
                  <div class="col depenseFrance">
                     <div class="form-group">
                       {{ form_row(allFieldsForm.interpretationFrance,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                     </div>
                  </div>
                  <div class="col htNormandie">
                     <div class="form-group">
                        {{ form_row(allFieldsForm.interpretationTotalHtNormandie,{'label':false,'attr':{'class':'form-control-sm w-75 '}})}}
                     </div>
                  </div>
                  <div class="col coutDefinitif">
                        <div class="form-group">
                           {{ form_row(allFieldsForm.interpretationCoutDefinitif,{'label':false,'attr':{'class':'form-control-sm w-75 '}})}}
                        </div>
                     </div>
               </div>
               <div class="row">
                   <div class="col">
                      <label>4. Charges sociales </label> 
                   </div>
                   <div class="col ht">
                     <div class="form-group">
                       {{ form_row(allFieldsForm.totalChargeSocialesTotalHt,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                     </div>
                  </div>
                  <div class="col depenseFrance">
                     <div class="form-group">
                       {{ form_row(allFieldsForm.chargeSocialeFrance,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                     </div>
                  </div>
                  <div class="col htNormandie">
                     <div class="form-group">
                        {{ form_row(allFieldsForm.totalChargeSocialesTotalHtNormandie,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                     </div>
                  </div>
                  <div class="col coutDefinitif">
                        <div class="form-group">
                           {{ form_row(allFieldsForm.totalChargeSocialesCoutDefinitif,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                        </div>
                     </div>
               </div>
               <div class="row">
                   <div class="col">
                       <label>
                           5. Décors et costumes
                       </label> 
                   </div>
                   <div class="col ht">
                     <div class="form-group">
                       {{ form_row(allFieldsForm.decoEtCostumesTotalHt,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                     </div>
                  </div>
                  <div class="col depenseFrance">
                     <div class="form-group">
                       {{ form_row(allFieldsForm.decoEtCostumesFrance,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                     </div>
                  </div>
                  <div class="col htNormandie">
                     <div class="form-group">
                        {{ form_row(allFieldsForm.decoEtCostumesTotalHtNormandie,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                     </div>
                  </div>
                  <div class="col coutDefinitif">
                     <div class="form-group">
                        {{ form_row(allFieldsForm.decoEtCostumesCoutDefinitif,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <label>
                        6. Transport, défraiement, régie 
                     </label> 
                  </div>
                  <div class="col ht">
                     <div class="form-group">
                       {{ form_row(allFieldsForm.transportTotalHt,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                     </div>
                  </div>
                  <div class="col depenseFrance">
                     <div class="form-group">
                       {{ form_row(allFieldsForm.transportFrance,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                     </div>
                  </div>
                  <div class="col htNormandie">
                     <div class="form-group">
                        {{ form_row(allFieldsForm.transportTotalHtNormandie,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                     </div>
                  </div>
                  <div class="col coutDefinitif">
                     <div class="form-group">
                        {{ form_row(allFieldsForm.transportCoutDefinitif,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <label>
                        7. Moyens techniques
                     </label> 
                  </div>
                  <div class="col ht">
                     <div class="form-group">
                       {{ form_row(allFieldsForm.moyenTechniqueTournageTotalHt,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                     </div>
                  </div>
                  <div class="col depenseFrance">
                     <div class="form-group">
                       {{ form_row(allFieldsForm.moyenTechniqueFrance,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                     </div>
                  </div>
                  <div class="col htNormandie">
                     <div class="form-group">
                        {{ form_row(allFieldsForm.moyenTechniqueTournageTotalHtNormandie,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                     </div>
                  </div>
                  <div class="col coutDefinitif">
                     <div class="form-group">
                        {{ form_row(allFieldsForm.moyenTechniqueCoutDefinitif,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <label>
                        8. Pellicules-Laboratoires
                     </label> 
                  </div>
                  <div class="col ht">
                     <div class="form-group">
                       {{ form_row(allFieldsForm.pelliculesTotalHt,{'label':false,'attr':{'class':'form-control-sm w-75 '}})}}
                     </div>
                  </div>
                  <div class="col depenseFrance">
                     <div class="form-group">
                       {{ form_row(allFieldsForm.pelliculesFrance,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                     </div>
                  </div>
                  <div class="col htNormandie">
                     <div class="form-group">
                        {{ form_row(allFieldsForm.pelliculesTotalHtNormandie,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                     </div>
                  </div>
                  <div class="col coutDefinitif">
                     <div class="form-group">
                        {{ form_row(allFieldsForm.pelliculesCoutDefinitif,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <label>
                        9. Assurances et divers
                     </label> 
                  </div>
                  <div class="col ht">
                     <div class="form-group">
                       {{ form_row(allFieldsForm.assuranceEtFraisTotalHt,{'label':false,'attr':{'class':'form-control-sm w-75 '}})}}
                     </div>
                  </div>
                  <div class="col depenseFrance">
                     <div class="form-group">
                       {{ form_row(allFieldsForm.assuranceFrance,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                     </div>
                  </div>
                  <div class="col htNormandie">
                     <div class="form-group">
                        {{ form_row(allFieldsForm.assuranceEtFraisTotalHtNormandie,{'label':false,'attr':{'class':'form-control-sm w-75 '}})}}
                     </div>
                  </div>
                  <div class="col coutDefinitif">
                     <div class="form-group">
                        {{ form_row(allFieldsForm.assuranceEtFraisCoutDefinitif,{'label':false,'attr':{'class':'form-control-sm w-75 '}})}}
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <label>
                        Total partiel
                     </label> 
                  </div>
                  <div class="col  partielHT">
                     <div class="form-group">
                       {{ form_row(allFieldsForm.totalPartielTotalHt,{'label':false,'attr':{'class':'form-control-sm w-75 input-totalDEHtTotalPartiel'}})}}
                     </div>
                  </div>
                  <div class="col  partielDepenseFrance">
                     <div class="form-group">
                       {{ form_row(allFieldsForm.totalPartielFrance,{'label':false,'attr':{'class':'form-control-sm w-75 input-DFTotalPartiel'}})}}
                     </div>
                  </div>
                  <div class="col  partielNormandie">
                     <div class="form-group">
                        {{ form_row(allFieldsForm.totalPartielTotalHtNormandie,{'label':false,'attr':{'class':'form-control-sm w-75 input-totalDNTotalPartiel'}})}}
                     </div>
                  </div>
                  <div class="col partielCoutDefinitif">
                     <div class="form-group">
                        {{ form_row(allFieldsForm.totalPartielCoutDefinitif,{'label':false,'attr':{'class':'form-control-sm w-75 input-totalCDTotalPartiel'}})}}
                     </div>
                  </div>
               </div>
               <div class="row">
                     <div class="col">
                        <label>
                            Frais généraux
                        </label> 
                     </div>
                     <div class="col partielHT">
                        <div class="form-group">
                          {{ form_row(allFieldsForm.fraisGenerauxTotalHT,{'label':false,'attr':{'class':'form-control-sm w-75 '}})}}
                        </div>
                     </div>
                     <div class="col  partielDepenseFrance">
                        <div class="form-group">
                          {{ form_row(allFieldsForm.fraisGenerauxDepenseFrance,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                        </div>
                     </div>
                     <div class="col partielNormandie">
                        <div class="form-group">
                           {{ form_row(allFieldsForm.fraisGenerauxNormandie,{'label':false,'attr':{'class':'form-control-sm w-75 '}})}}
                        </div>
                     </div>
                     <div class="col partielCoutDefinitif">
                        <div class="form-group">
                           {{ form_row(allFieldsForm.fraisGenerauxCoutDefinitif,{'label':false,'attr':{'class':'form-control-sm w-75 '}})}}
                        </div>
                     </div>
                  </div>
                  <div class="row">
                        <div class="col">
                           <label>
                               Imprévus
                           </label> 
                        </div>
                        <div class="col partielHT">
                           <div class="form-group">
                             {{ form_row(allFieldsForm.imprevusTotalHT,{'label':false,'attr':{'class':'form-control-sm w-75 '}})}}
                           </div>
                        </div>
                        <div class="col partielDepenseFrance">
                           <div class="form-group">
                             {{ form_row(allFieldsForm.imprevusDepenseFrance,{'label':false,'attr':{'class':'form-control-sm w-75'}})}}
                           </div>
                        </div>
                        <div class="col partielNormandie">
                           <div class="form-group">
                              {{ form_row(allFieldsForm.imprevusNormandie,{'label':false,'attr':{'class':'form-control-sm w-75 '}})}}
                           </div>
                        </div>
                        <div class="col partielCoutDefinitif">
                           <div class="form-group">
                              {{ form_row(allFieldsForm.imprevusCoutDefinitif,{'label':false,'attr':{'class':'form-control-sm w-75 '}})}}
                           </div>
                        </div>
                     </div>
               <div class="row">
                  <div class="col">
                     <label>
                        Total hors TVA 
                     </label> 
                  </div>
                  <div class="col">
                     <div class="form-group">
                       {{ form_row(allFieldsForm.totalGeneralTotalHt,{'label':false,'attr':{'class':'form-control-sm w-75 input-totalHtTotalGeneral'}})}}
                     </div>
                  </div>
                  <div class="col">
                     <div class="form-group">
                       {{ form_row(allFieldsForm.totalGeneralFrance,{'label':false,'attr':{'class':'form-control-sm w-75 input-totalGeneralFrance'}})}}
                     </div>
                  </div>
                  <div class="col">
                     <div class="form-group">
                        {{ form_row(allFieldsForm.totalGeneralTotalHtNormandie,{'label':false,'attr':{'class':'form-control-sm w-75 input-totalHtNormandieTotalGeneral'}})}}
                     </div>
                  </div>
                  <div class="col">
                     <div class="form-group">
                        {{ form_row(allFieldsForm.totalGeneralCoutDefinitif,{'label':false,'attr':{'class':'form-control-sm w-75 input-totalCoutDefinitif'}})}}
                     </div>
                  </div>
               </div>
          </fieldset>
      {% endif %}
      <hr>
      {% if fondsAide.id == 7 or fondsAide.id == 6 %}
         <div class="row my-3">
               <div class="col-6">
                  <label for="productionTv">Coproduction.s diffusseur</label>
                  {{ form_row(allFieldsForm.productionTv,{'label':false,'attr':{'class':'form-control-sm w-100'}}) }} 
               </div>
               <div class="col-6">
                  <label for="preachat"> Préachat.s diffusseur</label>
                  {{ form_row(allFieldsForm.preachatTv,{'label':false,'attr':{'class':'form-control-sm w-100'}}) }} 
               </div>
         </div>
      {% endif %}
      {% if fondsAide.id != 5 %}
         <div class="row my-3">
            <div class="col-6">
               <label for="financementAcquis">Financement.s acquis</label> 
               <div class="row ml-2">
                  {% for financementAcquis in allFieldsForm.financementAcquis %}
                     {% if loop.index > 1 %}
                        {{ form_widget(financementAcquis) }}{{form_label(financementAcquis,null)}}
                     {% endif %}
                  {% endfor %}
               </div>
            </div>
            <div class="col-6 financementAcquisPrecision">
               <label for="financementAcquisPrecision"> Le.squel.s ?</label>
               {{ form_row(allFieldsForm.financementAcquisPrecision,{'label':false,'attr':{'class':'form-control-sm w-100'}}) }} 
            </div>
         </div>
      {% else %}
      <div class="row my-3">
         <div class="col-6">
            <label for="financementAcquisPrecision"> Financement.s acquis ? Le.squel.s ?</label>
            {{ form_row(allFieldsForm.financementAcquisPrecision,{'label':false,'attr':{'class':'form-control-sm w-100'}}) }} 
         </div>
      </div>
      {% endif %}
      
   {% endif %}
      <div class="row my-3">
         <div class="col-6">
             <label for="montantSollicite"> Montant sollicité auprès du Fonds d'aide Normandie </label>
             {{ form_row(allFieldsForm.montantSollicite,{'label':false,'attr':{'class':'form-control-sm w-100'}}) }} 
         </div>
      </div>
   {% if fondsAide.id != 9 %}
      {%  for auteur in allFieldsForm.auteurRealisateurs %}
       <div class="pourcentageAuteurRealisateur">
           <div class="row my-3" id="blockPourcentage_{{ auteur.vars.id }}">
               <div class="col-auto">
                   <label id="para_{{ auteur.vars.id }}">{{ auteur.vars.value.prenom }} {{ auteur.vars.value.nom }}</label>
               </div>
               <div class="row col">
                   {{ form_row(auteur.pourcentageAuteurRealisateur,{'label':false,'attr':{'class':'form-control-sm','style':'width:3rem'}}) }} %
               </div>
            </div>
       </div>
       {% endfor %}
       <div id="test"></div>
      <div class="row my-3">
         <div class="col-6">
            <label for="depotProjetCollectivite">Projet déposé auprès d'autres collectivités territoriales  </label>
            <div class="row ml-2">
               {% for depotProjetCollectivite in allFieldsForm.depotProjetCollectivite %}
                  {% if loop.index > 1 %}
                     {{ form_widget(depotProjetCollectivite) }}{{form_label(depotProjetCollectivite,null)}}
                  {% endif %}
               {% endfor %}
            </div>
         </div>
         <div class="col-6 depotProjetCollectivitePrecision">
            <label for="depotProjetCollectivitePrecision"> Le.squelle.s ?</label>
            {{ form_row(allFieldsForm.depotProjetCollectivitePrecision,{'label':false,'attr':{'class':'form-control-sm w-100'}}) }}
         </div>
      </div>
      <div class="row my-3">
         <div class="col-6">
            <label for="projetDejaPresenteFondsAide">Projet déjà présenté auprès du Fonds d'aide Normandie </label>
               <div class="row ml-2">
                  {% for projetDejaPresenteFondsAide in allFieldsForm.projetDejaPresenteFondsAide %}
                      {% if loop.index > 1 %}
                         {{ form_widget(projetDejaPresenteFondsAide) }}{{form_label(projetDejaPresenteFondsAide,null)}}
                      {% endif %}
                   {% endfor %}
               </div>
         </div>
         <div class="col-6 projetDejaPresenteFondsAidePrecision">
            <label for="projetDejaPresenteFondsAideDate"> À quelle date  ?</label>
             {{ form_row(allFieldsForm.projetDejaPresenteFondsAideDate,{'label':false,'attr':{'class':'form-control-sm w-100','placeholder':'date'}}) }} 
            <label for="projetDejaPresenteFondsAideTypeAide">Pour quel type d'aide ?</label>
            {{ form_row(allFieldsForm.projetDejaPresenteFondsAideTypeAide,{'label':false,'attr':{'class':'form-control-sm w-100'}}) }}
         </div>
      </div>
      <hr>
      {% endif %}
      <fieldset class="border  p-2">
         <legend class="w-auto h6">Téléchargement des pièces du dossier</legend>
         {#<div class="input-group mt-3">
               <div class="row">
               <div class="col">
                  <span  >Courrier de demande</span>
               </div>
            </div>
            <div class="custom-file">
               <div class="row">
                  {% for courrierdemande in allFieldsForm.courrierdemande %}
                     <div class="col">
                             {{ form_widget(courrierdemande) }}{{form_label(courrierdemande,null)}}
                     </div>
                     {% endfor %}
               </div>
               </div>
               #}
               <div class="input-group mt-3">
                  <div class="row">
                     <div class="col-6">
                        <span  >Courrier de demande</span>
                     </div>
                     <div class="col-6">
                           <div class="custom-file ">
                              {{ form_row(allFieldsForm.courrierdemande, {'label':false,'attr':{'class':'custom-file-input'}}) }}
                          </div>
                     </div>
                  </div>
               </div>
         <hr class="auteurRealisateur">
         {% if fondsAide.id == 9 %}
            <div class="input-group mt-3">
               <div class="row">
                  <div class="col-6">
                     <span  >Dossier de présentation</span>
                   </div>
                   <div class="col-6">
                      <div class="custom-file ">
                          {{ form_row(allFieldsForm.dossierpresentation, {'label':false,'attr':{'class':'custom-file-input'}}) }}
                      </div>
                   </div>
               </div>  
            </div>
            <hr class="auteurRealisateur">
            <div class="input-group mt-3">
               <div class="row">
                  <div class="col-6">
                     <span  >Budget prévisionnel</span>
                   </div>
                   <div class="col-6">
                      <div class="custom-file ">
                          {{ form_row(allFieldsForm.budgetprevisionnel, {'label':false,'attr':{'class':'custom-file-input'}}) }}
                      </div>
                   </div>
               </div>  
            </div>
            <hr class="auteurRealisateur">
            <div class="input-group mt-3">
                  <div class="row">
                     <div class="col-6">
                        <span >Attestation de vigilance</span>
                      </div>
                      <div class="col-6">
                         <div class="custom-file ">
                             {{ form_row(allFieldsForm.attestationvigilance, {'label':false,'attr':{'class':'custom-file-input'}}) }}
                         </div>
                      </div>
                  </div>  
            </div>
            <hr class="auteurRealisateur">
            <div class="input-group mt-3">
               <div class="row">
                  <div class="col-6">
                     <span >Declaration relatives aux autres aides</span>
                   </div>
                   <div class="col-6">
                      <div class="custom-file">
                          {{ form_row(allFieldsForm.declarationaide, {'label':false,'attr':{'class':'custom-file-input'}}) }}
                      </div>
                   </div>
               </div>  
            </div>
            <hr class="auteurRealisateur">
         {% endif %}
         {% if fondsAide.id != 9 %}
            <div class="input-group mt-3">
               <div class="row">
                  <div class="col-6">
                     {%if fondsAide.id == 4 or fondsAide.id == 5 or fondsAide.id == 7 %}
                        <span>Dossier artistique : synopsis et scénario, notes d'intention du réalisateur et du producteur, CV du (des) réalisateur(s) et du (des) auteur(s) le cas échéant, présentation de la structure de production</span>
                    {% elseif fondsAide.id == 3 or fondsAide.id == 8 or fondsAide.id == 2 %}
                         <span >Dossier artistique : synopsis et présentation du projet, notes d'intention du réalisateur et du producteur, CV du (des) réalisateur(s) et du (des) auteur(s) le cas échéant, présentation de la structure de production</span>
                     {% else %}
                         <span ><strong>Dossier artistique :</strong> synopsis et traitement (écriture) ou scénario (réécriture), notes d'intention du réalisateur et du producteur le cas échéant, CV du (des) réalisateur(s) et du (des) auteur(s) le cas échéant, présentation de la structure de production le cas échéant</span>
                    {% endif %}
                  </div>
                  <div class="col-6">  
                     <div class="custom-file">
                         {{ form_row(allFieldsForm.dossierartistique, {'label':false,'attr':{'class':'custom-file-input'}}) }}
                     </div>
                  </div>
               </div>
            </div>
            <hr class="auteurRealisateur">
            <div class="input-group mt-3">
               <div class="row">
                  <div class="col-6">
                    <span  >Devis previsionnel</span>
                  </div>
                  <div class="col-6">
                     <div class="custom-file">
                         {{ form_row(allFieldsForm.devisPrevisionnel, {'label':false,'attr':{'class':'custom-file-input'}}) }}
                     </div>
                  </div>
               </div>
            </div>
            <hr class="auteurRealisateur">
            <div class="input-group mt-3">
                  <div class="row">
                     <div class="col-6">
                        {%if fondsAide.id == 4 or fondsAide.id == 8 or fondsAide.id == 5 or fondsAide.id == 6 or fondsAide.id == 7  %}
                           <span><strong>Contrat(s) :</strong> contrat(s)  de cession de droits d’auteur(s), et, le cas échéant, contrat de cession pour adaptation, contrat de coproduction</span>
                       {% elseif fondsAide.id == 1 or fondsAide.id == 2 %}
                            <span ><strong>Contrat(s) :</strong> le cas échéant, contrat(s)  de cession de droits d’auteur(s), contrat de cession pour adaptation, contrat de coproduction</span>
                        {% else %}
                            <span ><strong>Contrat(s) :</strong> contrat(s)  de cession de droits d’auteur(s) ou contrat(s) d’artiste(s) et, le cas échéant, contrat de cession pour adaptation, contrat de coproduction
                              </span>
                       {% endif %}
                     </div>
                     <div class="col-6">
                        <div class="custom-file">
                            {{ form_row(allFieldsForm.contrat, {'label':false,'attr':{'class':'custom-file-input'}}) }}
                        </div>
                     </div>
                  </div>
               </div>
         {% endif %}
         <hr class="auteurRealisateur">
         <div class="input-group mt-3">
            <div class="row">
               <div class="col-6">
                 <span  >Plan de financement</span>
               </div>
               <div class="col-6">
                  <div class="custom-file">
                      {{ form_row(allFieldsForm.planFinancement, {'label':false,'attr':{'class':'custom-file-input'}}) }}
                  </div>
               </div>
            </div>
         </div>
         {% if fondsAide.id == 1 %}
         <hr class="auteurRealisateur">
            <div class="input-group mt-3">
               <div class="row">
                  <div class="col">
                     <span  >Justificatif attestant la diffusion</span>
                   </div>
                   <div class="col">
                      <div class="custom-file ">
                          {{ form_row(allFieldsForm.justificatifdiffusion, {'label':false,'attr':{'class':'custom-file-input'}}) }}
                      </div>
                   </div>
               </div>  
            </div>
         {% endif %}
         <hr class="auteurRealisateur">
         <div class="input-group mt-3">
               <div class="row">
                  <div class="col-6">
                     <span  >Fiche Inseee récente</span>
                   </div>
                   <div class="col-6">
                      <div class="custom-file ">
                          {{ form_row(allFieldsForm.finsee, {'label':false,'attr':{'class':'custom-file-input'}}) }}
                      </div>
                   </div>
               </div>  
            </div>
            <hr class="auteurRealisateur">
            <div class="input-group mt-3">
                  <div class="row">
                     <div class="col-6">
                        <span  >RIB</span>
                      </div>
                      <div class="col-6">
                         <div class="custom-file ">
                             {{ form_row(allFieldsForm.rib, {'label':false,'attr':{'class':'custom-file-input'}}) }}
                         </div>
                      </div>
                  </div>  
               </div>
            {% if fondsAide.id == 5 %}
            <hr class="auteurRealisateur">
               <div class="input-group mt-3">
                  <div class="row">
                     <div class="col-6">
                        <span  >Engagement écris du prémier financeur</span>
                      </div>
                      <div class="col-6">
                         <div class="custom-file ">
                             {{ form_row(allFieldsForm.engagement, {'label':false,'attr':{'class':'custom-file-input'}}) }}
                         </div>
                      </div>
                  </div>  
               </div>
            {% endif %}
            <hr class="auteurRealisateur">
            {% if fondsAide.id == 1 or fondsAide.id == 2 or fondsAide.id == 3 %}
               <div class="input-group mt-3">
                  <div class="row">
                     <div class="col-6">
                        <span  >Justificatif attestant des critères d'éligibilté</span>
                      </div>
                      <div class="col-6">
                         <div class="custom-file ">
                             {{ form_row(allFieldsForm.justificatifeligibilite, {'label':false,'attr':{'class':'custom-file-input'}}) }}
                         </div>
                      </div>
                  </div>  
               </div>
            {% endif %}
            
         </fieldset>
         <div class="form-group my-3">
           <div class="row">
              <label for="mailUtilisateur">Courriel pour le retour au formulaire</label>
              <smal class="form-text text-muted"> Si vous souhaitez revenir au formulaire, nous allons vous envoyer un lien sécurisé.
                Merci d'indiquer ci-dessous le mail à partir duquel vous soutez recevoir le lien.</smal>
               <div class="col-6">
                  {{ form_errors(allFieldsForm.mailUtilisateur) }}
                 {{ form_widget(allFieldsForm.mailUtilisateur,{'label':false,'attr':{'class':'form-control-sm w-100 my-3'} })}}
               </div>
           </div>
       </div>
       
      <div class="form-group enregistrer mt-4">
            {{ form_widget(allFieldsForm._token)}}
         {{ form_widget(allFieldsForm.enregistrer,{'label':'Enregistrer','attr':{'class':'btn btn-success'}})}}
      </div>
     {#
      <div class="submitButton">
         {{ form_widget(allFieldsForm._token)}}
         <button type="button" class="btn btn-primary valider">  Valider</button>
         <button type="button" class="btn btn-primary sauvegarder">  Sauvegarder</button>
      </div>
     #}
      {{ form_end(allFieldsForm,{'render_rest':false}) }}
   </div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{%  endblock %}