{% extends 'base.html.twig' %}

{% block title %}calendier des commissions de soutien à la production et à la création du fonds d'aide région Noramndie{% endblock %}
{% block body %}
  <h3 mt-4>Fonds de soutien écriture, développement, recherche</h3>
    <div class="container">
        <div class="row mt-4">
            {% for entity in data %}
                <div class="col-md-3">
                    <div class="card border-secondary bg-light mb-3 text-center">
                    <div class="card-header">
                        {{entity.nom}}
                    </div>        
                    <div class="card-body">
                        {%for session in entity.sessions %}
                            <fieldset class="border p-2">
                               <legend class="w-auto">{{ session.nom }}</legend>
                                <p class="card-text">Dépôt des dossiers du   {{ session.dateDebut | date('d/m/Y')}} au {{ session.dateFin | date('d/m/Y')}}</p>
                                <p class="card-text">Présélection  le  {{ session.preselection | date('d/m/Y')}}</p>
                                <p class="card-text">Plénière le  {{ session.pleniere | date('d/m/Y')}} </p>
                                <br>
                                <a href="{{path('all_fields_form',{'idSession':session.id})}}" class="btn btn-secondary">Je m'inscris</a>
                             </fieldset>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
